*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* :root{
    
} */

.container-grid{
    max-width: 1000px;
    margin: 0 auto;
    /* border: 2px solid black; */
}

header{
    background-color: #d7d4ff;
    padding: 40px;
}

.header-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-style__info{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    button{
        width: 120px;
        height: 50px;
        color: white;
        background-color: #6c63ff;
        border-radius: 8px;
        border: none;    
    }
}
/* rem = 16px */
.header-style__info>h1{
    font-size: 2rem;
}

.header-style__info>p{
    font-size: 1rem;
    color: #555555;

}

.header-style__image>img{
    width: 400px;
    height: 250px;
}
/* main{
    border: 2px solid yellow;
    
} */

.main-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 50px;
}

.card-style{
    width: 250px;
    /*box-shadow vertical horizontal blur(desfoque) cor */
    box-shadow: 6px 10px 10px rgb(0, 0, 0, 0.177);
}


/* seletor de atributo que começa com ^= */
[class^="card-style__bg"]{
    width: 100%;
    height: 150px;
}
.card-style__bg1{
    background-color: #FF6363;
}
.card-style__bg2{
    background-color: #63ECFF;
}
.card-style__bg3{
    background-color: #F363FF;
}
.card-style__bg4{
    background-color: #63FF73;
}
.card-style__bg5{
    background-color: #FFDD63;
}
.card-style__bg6{
    background-color: #6663FF;
}

.card-style__infos{
    padding: 20px;
}

.card-style__infos>p{
    color: #555555;
    margin-top: 15px;
}

/* regra - tipo de midia - operador - media feature */
/* min-width faz o oposto ele ira fazer quando chegar acima do valor */
@media screen and (max-width:414px) {
    header{
        height: 100vh;
        
    }
    .header-style{
        flex-direction: column;
        gap: 80px;
    }
    .header-style__info>p{
        line-height: 30px;
    }
    .main-card{
        width: 80%;
        padding: 0;
        margin-top: 20px;
    }
    .card-style{
        width: 100%;
    }
}